@import "tailwindcss";

.dp {
  height: 40px;
  width: 40px;
}

.post {
  height: 550px;
  width: 450px;
}

.story-ring {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 3px; /* thickness of gradient border */

    background: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
    );

    display: flex;
    align-items: center;
    justify-content: center;
}

.story-ring img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white; /* inner white ring */
    object-fit: cover;
}
.story-username {
  max-width: 70px;      /* adjust to your story width */
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  font-size: 12px;
  text-align: center;
}

